@model List<Footballer>

<table>
    <thead>
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Пол</td>
            <td>Дата рождения</td>
            <td>Команда</td>
            <td>Страна</td>
            <td></td>
        </tr>
    </thead>
    <tbody id="tbody-of-footballers">
        @foreach (var footballer in Model)
        {
            <tr id="@footballer.Id">
                <td>@footballer.FirstName</td>
                <td>@footballer.LastName</td>
                <td>@footballer.Gender</td>
                <td>@footballer.Birthday</td>
                <td>@footballer.TeamName</td>
                <td>@footballer.Country</td>
                <td><a class="btn btn-primary" href="/footballers/edit/@footballer.Id">Править</a></td>
            </tr>
        }
    </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="~/js/list.js" charset="utf-8" asp-append-version="true"></script>

